{% if mensaje %}
<script>
  alert("{{ mensaje|escapejs }}");
</script>
{% endif %}

<!DOCTYPE html>
<html>
<head>
    <title>Actualizar Evento</title>
</head>
<body>
    <h1>Actualizar Evento: {{ evento.titulo }}</h1>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Renderiza todos los campos del formulario -->
        <button type="submit">Actualizar Evento</button>
    </form>

    <a href="{% url 'listaEventos' %}">Volver a la lista de eventos</a>
</body>
</html>
