{% load static %}
{% if messages %}
<script>
  {% for message in messages %}
  alert("{{ message|escapejs }}");
  {% endfor %}
</script>
{% endif %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Eventos</title>
  <link rel="stylesheet" href="{% static 'css/eventos/misEventos.css' %}">
</head>

<body>
  <h1>Mis eventos</h1>
  <a href="{% url 'crearEvento' %}">Crear Evento</a>
  <br>
  <br>
  <ul>
    {% for evento in eventos %}
    <li>
      <h2>{{ evento.titulo }}</h2>
      <p>{{ evento.descripcion }}</p>
      <p><strong>Fecha:</strong> {{ evento.fecha }}</p>
      <p><strong>Lugar:</strong> {{ evento.lugar }}</p>
      <p><strong>Organizador:</strong> {{ evento.organizador }}</p>
      <p><strong>Capacidad:</strong> {{ evento.capacidad }}</p>
      {{ sesion }}
      <div class="acciones">
        <a href="{% url 'actEvento' evento.id %}">Editar</a>
        <a id="eliminar" href="{% url 'eliminarEvento' evento.id %}">Eliminar</a>
      </div>
    </li>
    {% endfor %}
  </ul>
  <a class="volver" onclick="window.history.back()">Volver al menú</a>
</body>
<script>
  eliminar = document.getElementById('eliminar');


  eliminar.addEventListener('click', (event) => {
    let response = window.confirm('¿Estás seguro de eliminar el evento?');
    response ? '' : event.preventDefault();
  });

</script>

</html>