<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Registros de Eventos</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Lista de Registros de Eventos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Evento</th>
                <th>Usuario</th>
                <th>Fecha de Registro</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
                <tr>
                    <td>{{ registro.id }}</td>
                    <td>{{ registro.evento.titulo }}</td> 
                    <td>{{ registro.usuario.nombres }} {{ registro.usuario.apellidos}}</td> 
                    <td>{{ registro.fecha_registro }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay registros de eventos disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'menu' %}">Volver al menú</a>
</body>
</html>
