{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <script src="{% static 'js/menu.js' %}" defer></script>
</head>

<body>
    <div class="link-container">
        <a href="{% url 'consultaUsuarios' %}">¿Cuántos usuarios están registrados en un evento específico?</a>
        <a href="{% url 'consultaEventos' %}">¿Cuántos eventos se están llevando a cabo este mes?</a>
        <a href="{% url 'consultaOrganizacion' %}">¿Cuántos eventos ha organizado un usuario en particular?</a>
        <a href="{% url 'menu' %}">Volver al menu</a>
    </div>
</body>

</html>